.app-container {
    display: flex;
    height: 100vh;
  }
  
  .cryptocurrency-prices {
    flex: 1;
    background-color: #f0f0f0;
    order: 2; /* Change the order to 2 to appear on the right */
  }
  
  .sidebar {
    width: 250px;
    background-color: #212121;
    color: #fff;
    padding-top: 20px;
    margin: 0;
    order: 1; /* Keep the order as 1 to appear on the left */
  }  